################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutoChat/Debug
/Debug
/SG_API/Debug
/SG_API/Chevrusa.log
node_modules/